/* bungee-spice-regular - latin */
@font-face {
    font-family: 'Bungee Spice';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/bungee-spice-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bungee-spice-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  


  /* concert-one-regular - latin */
@font-face {
    font-family: 'Concert One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/concert-one-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/concert-one-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* tomorrow-regular - latin */
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/tomorrow-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/tomorrow-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tomorrow-700 - latin */
@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/tomorrow-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/tomorrow-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}